*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans Variable', sans-serif;
}

.container{
  /* height: 70%; */
  width: 70%;
  margin: auto;
  /* background-color: #ffffff; */
}

/* #header */
#dc-img-logo{
  width: 10%;
  height: 10%;
  padding: 1rem;
}
.dc-nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.dc-ul-nav{
  display: flex;
  list-style: none;
}
.dc-ul-nav li{
  padding: 0.5rem;
}
.dc-ul-nav li a{
  text-transform: uppercase;
  text-decoration: none;
  color:black;
}

.dc-ul-nav .active{
  color: #0282f9;
  border-bottom: solid #0282f9;
}

/*Hero*/

.hero{
  height: 40vh;
  width: 100vw;
  background-image: url(../src/assets/img/jumbotron.jpg);
  background-size: cover;
}


/* #main */

main{
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  color:white;
}
.hero-cards{
  padding: 2rem 0;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}

.cards img{

  height: 125px;
  width: 125px;
}
.banner-bg{
  width: 100vw;
  height: 18vh;
  background-color: #0282f9;
  display: flex;

}
.banner-container{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}
.img-banner{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.img-banner img{
  height: 9vh; 
}

.primary{
  padding: 0.75rem 1.75rem;
  background-color: #0282f9;
  color: #ffffff;
  margin-top: 2rem;
}
/* #footer*/
.dc-footer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 60vh;
  background-image: url(../src/assets/img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.row{
  height: 50vh;
  width: 25vw;
  display: flex;
  justify-content: space-between;
}

.footer-d-flex{
  display: flex;
  justify-content: space-between;
  background-image: url(../src/assets/img/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
h3{
  color: #ffffff;
  padding: 0.75rem 0;
  text-transform: uppercase;
}
.dc-ul-footer{
  list-style: none;
 }
.dc-ul-footer li{
  padding: 0.15rem;
}
.dc-ul-footer li a{
  text-decoration: none;
  color:#766f6b;
  font-size: small;
}

#dc-logo-bg{
  img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
}

.dc-footer-bottom{
  width: 100vw;
  height: 10vh;
  background-color: #1c1c1c;
 
}

.dc-social{
  display: flex;
  /* width: 1rem; */
  align-items: center;
  gap:1rem;
}
h4{
  color: #0282f9;
  text-transform: uppercase;
}
.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10vh;
}

button{
  border: solid #0282f9 2px;
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
}

